[Unit]
Description=jellyfin Media Server
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=5

ExecStart=/usr/bin/docker run \
  --name {{ container_name }} \
  {{ options }} \
  {{ container_image }}:{{ image_tag }}

ExecStopPost=-/usr/bin/docker rm {{ container_name }}
ExecStopPost=-/usr/bin/docker rmi {{ container_image }}:{{ image_tag }}

[Install]
WantedBy=multi-user.target
